In [2]:
import mysql.connector

conn=mysql.connector.connect(host="127.0.0.1",user="root",password="HArry@#11",database="mla")

print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000188F2BB5610>

In [3]:
curs=conn.cursor()
curs.execute("show databases")
for i in curs:
    print(i)

('emptable',)
('information_schema',)
('mla',)
('mysql',)
('performance_schema',)
('problem',)
('sakila',)
('shirts_db',)
('sys',)
('world',)

In [4]:
#4Database
curs=conn.cursor()
curs.execute("create table emptable(emp_id int primary key,name varchar(20),salary float,department varchar(30),hiredate date)")

In [5]:
curs.execute("show tables")
for i in curs:
    print (i)

('employee',)
('empmanagement',)
('emptable',)

In [9]:
cus_insert="insert into emptable(emp_id,name,salary,department,hiredate)VALUES(123,'Harry',50000,'cse',STR_TO_DATE('10/17/2000', '%m/%d/%Y'))"
curs.execute(cus_insert)
conn.commit()
print(curs.rowcount,"is inserted")

1 is inserted

In [10]:
cus_insert="insert into emptable(emp_id,name,salary,department,hiredate)VALUES(456,'Hermoine',40000,'ece',STR_TO_DATE('11/22/2002', '%m/%d/%Y'))"
curs.execute(cus_insert)
conn.commit()
print(curs.rowcount,"is inserted")

1 is inserted

In [11]:
cus_update="update emptable set department='it' WHERE name='Hermoine'"
curs.execute(cus_update)
conn.commit()
print("The row is updated")

The row is updated

In [12]:
#3
curs.execute("create table table3(id int,name varchar(20),quantity int)") #table3 is created

In [15]:
cus_insert="insert into table3(id,name,quantity)VALUES(%s,%s,%s)"    #inserting values to the table3
cus_values=[(12,'Harry',6),(14,'Hermoine',8),(25,'Ron',12),(7,'Bean',15),(20,'Emma',9)]
curs.executemany(cus_insert,cus_values)
conn.commit()
print(curs.rowcount,"is inserted")        #5 rows is inserted to the table

5 is inserted

In [4]:
curs.execute("select *from table3")     #retrieve records from table
for i in curs:
    print(i)

(12, 'Harry', 6)
(14, 'Hermoine', 8)
(25, 'Ron', 12)
(7, 'Bean', 15)
(20, 'Emma', 9)

In [5]:
curs.execute("select quantity from table3")    #retreive qunatity from table3
records=curs.fetchall()

In [6]:
total_quantity_of_all_records = sum(record[0] for record in records)  #calculating the total_quantity_of_all_records 
print("Total Quantity:",total_quantity_of_all_records)

Total Quantity: 50

In [7]:
cus_update="update table3 set quantity=quantity*2"    #updating quantity column by multiplying by 2 in each row
curs.execute(cus_update)
conn.commit()
print("The quantity column is updated")

The quantity column is updated

In [8]:
#1.
curs.execute("create database Inventory")

In [9]:
curs.execute("show databases")
for i in curs:
    print(i)

('emptable',)
('information_schema',)
('inventory',)
('mla',)
('mysql',)
('performance_schema',)
('problem',)
('sakila',)
('shirts_db',)
('sys',)
('world',)

# Database programming with MySQL:
1. Implement Inventory Management in Python with MySQL
a) Inventory management, a critical element of the supply chain, is the tracking of inventory from manufacturers to warehouses and from these facilities to a point of sale. The goal of inventory management is to have the right products in the right place at the right time.
b) The required Database is Inventory, and the required Tables are Purchases, Sales and Inventory
c) Note: Apply your thoughts to demonstrate the DB Operation in Python.

In [2]:
import mysql.connector

conn=mysql.connector.connect(host="127.0.0.1",user="root",password="HArry@#11",database="Inventory")

print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002EE4D786450>

In [4]:
curs=conn.cursor()
curs.execute("create table purchases(id int primary key,name varchar(25),quantity int,price float)")

In [5]:
curs.execute("create table sales(id int primary key,name varchar(25),sellingprice float)")

In [7]:
curs.execute("create table inventory(name varchar(25),supplier varchar(25))")

In [12]:
cus_insert="insert into purchases(id,name,quantity,price)VALUES(%s,%s,%s,%s)"    #inserting values to the table3
cus_values=[(11,'Harry',6,7000),(2,'Hermoine',8,900),(3,'Ron',12,899),(7,'Bean',6,1500),(8,'Emma',9,9000)]
curs.executemany(cus_insert,cus_values)
conn.commit()
print(curs.rowcount,"is inserted")

5 is inserted

In [13]:
cus_insert="insert into sales(id,name,sellingprice)VALUES(%s,%s,%s)"    #inserting values to the table3
cus_values=[(11,'Harry',1000),(2,'Hermoine',200),(3,'Ron',150),(7,'Bean',790),(8,'Emma',900)]
curs.executemany(cus_insert,cus_values)
conn.commit()
print(curs.rowcount,"is inserted")

5 is inserted

In [14]:
cus_insert="insert into inventory(name,supplier)VALUES(%s,%s)"    #inserting values to the table3
cus_values=[('Harry','unico'),('Hermoine','unico'),('Ron','textile'),('Bean','steel'),('Emma','ramco')]
curs.executemany(cus_insert,cus_values)
conn.commit()
print(curs.rowcount,"is inserted")

5 is inserted

In [23]:
curs.execute("select *from sales")
for i in curs:
    print(i)

(2, 'Hermoine', 200.0)
(3, 'Ron', 150.0)
(7, 'Bean', 790.0)
(8, 'Emma', 900.0)
(11, 'Harry', 1000.0)

In [18]:
curs.execute("select purchases.id,purchases.name,purchases.quantity,sales.sellingprice from purchases inner join sales on purchases.id=sales.id")
for i in curs:
    print(i)

(2, 'Hermoine', 8, 200.0)
(3, 'Ron', 12, 150.0)
(7, 'Bean', 6, 790.0)
(8, 'Emma', 9, 900.0)
(11, 'Harry', 6, 1000.0)

In [24]:
curs.execute("select *from sales where sellingprice>=700")
for i in curs:
    print(i)

(7, 'Bean', 790.0)
(8, 'Emma', 900.0)
(11, 'Harry', 1000.0)

In [26]:
#1module import and management
import datetime

import time

In [28]:
from datetime import date
print("Today's date:",date.today())

Today's date: 2023-09-16

In [29]:
today=date.today()
today

datetime.date(2023, 9, 16)

In [30]:
today.month

9

In [31]:
import random

import math

In [32]:
def custom():
    print("This is a custom function")

In [34]:
print("factorial of 5",math.factorial(5))
print("pi value",math.pi)
print("square root of 81:", math.sqrt(81))
print("random number:", random.random())
print("random no in range",random.randint(25,36))

factorial of 5 120
pi value 3.141592653589793
square root of 81: 9.0
random number: 0.5555971899700101
random no in range 31

In [35]:
custom()

This is a custom function

In [39]:
try:
    import non_existent_module
except ImportError as e:
    print("importing module error")

importing module error

In [40]:
#2.customer order processing
import mysql.connector

conn=mysql.connector.connect(host="127.0.0.1",user="root",password="HArry@#11",database="customer")

print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002EE4DE3C590>

In [41]:
curs=conn.cursor()
curs.execute("show databases")
for i in curs:
    print(i)

('customer',)
('emptable',)
('information_schema',)
('inventory',)
('mla',)
('mysql',)
('performance_schema',)
('problem',)
('sakila',)
('shirts_db',)
('sys',)
('world',)

In [43]:
curs.execute("create table customers(customer_id int primary key,name varchar(25),address varchar(50),mobile varchar(15))")

In [44]:
curs.execute("create table products(product_id int primary key,name varchar(25),price int,quantity int)")

In [47]:
curs.execute("create table orders(order_id int primary key,customer_id int,foreign key(customer_id)references customers(customer_id))")

In [51]:
cus_insert="insert into customers(customer_id,name,address,mobile)VALUES(%s,%s,%s,%s)"    #inserting values to the customers
cus_values=[(24,'Harry','gandhi st',9090909090),(67,'Hermoine','nehru st',8080808080),(35,'Ron','anna st',7070707070)]
curs.executemany(cus_insert,cus_values)
conn.commit()
print(curs.rowcount,"is inserted into customers table")

3 is inserted into customers table

In [52]:
cus_insert="insert into products(product_id,name,price,quantity)VALUES(%s,%s,%s,%s)"    #inserting values to the products
cus_values=[(9,'Dress',800,2),(7,'sling bag',1000,1),(3,'mug',100,7)]
curs.executemany(cus_insert,cus_values)
conn.commit()
print(curs.rowcount,"is inserted into products table")

3 is inserted into products table

In [53]:
cus_insert="insert into orders(order_id,customer_id)VALUES(%s,%s)"    #inserting values to the orders
cus_values=[(101,24),(102,67),(103,35)]
curs.executemany(cus_insert,cus_values)
conn.commit()
print(curs.rowcount,"is inserted into products table")

3 is inserted into products table

In [2]:
#Function to place a new order
def place_order(curs, customer_id):
    display_products(curs)
    
    # Prompt the customer for product selection
    product_id = int(input("Enter the product ID to purchase: "))
    quantity = int(input("Enter the quantity to purchase: "))
    
    # Check product availability
    curs.execute("SELECT quantity, price FROM Products WHERE product_id = %s", (product_id,))
    product = cursor.fetchone()
    
    if product is None:
        print("Product not found.")
        return
    
    available_quantity, price = product
    
    if quantity > available_quantity:
        print("Insufficient quantity available.")
        return

In [4]:
import mysql.connector

# Function to establish a database connection
def connect_to_database():
    try:
        connection = mysql.connector.connect(
            host="root",
            user="127.0.0.1",
            password="HArry@#11",
            database="customer"
        )
        if connection.is_connected():
            return connection
        else:
            return None
    except mysql.connector.Error as err:
        print("Error:", err)
        return None

# Function to display available products
def display_products(curs):
    curs.execute("SELECT * FROM Products")
    products = curs.fetchall()
    
    print("Available Products:")
    for product in products:
        print(f"{product[0]}. {product[1]} - ${product[3]} (Qty: {product[4]})")

# Function to place a new order
def place_order(curs, customer_id):
    display_products(curs)
    
    # Prompt the customer for product selection
    product_id = int(input("Enter the product ID to purchase: "))
    quantity = int(input("Enter the quantity to purchase: "))
    
    # Check product availability
    curs.execute("SELECT quantity FROM Products WHERE product_id = %s", (product_id,))
    product = curs.fetchone()
    if product is None or quantity > product[0]:
        print("Product not available or insufficient quantity.")
        return
    
    # Calculate total cost
    curs.execute("SELECT price FROM Products WHERE product_id = %s", (product_id,))
    price = curs.fetchone()[0]
    cost = price * quantity
    
    # Insert order into Orders table
    curs.execute("INSERT INTO Orders (customer_id) VALUES (%s)", (customer_id,))
    order_id = curs.lastrowid
    
    
    # Update product quantity
    new_quantity = product[0] - quantity
    curs.execute("UPDATE Products SET quantity = %s WHERE product_id = %s", (new_quantity, product_id))
    
    print("Order placed successfully!")

if __name__ == "__main__":
    # Connect to the database
    connection = connect_to_database()
    if connection is None:
        print("Failed to connect to the database.")
    else:
        try:
            curs = connection.curs()
            
            # Prompt the user for customer information (you can extend this part)
            customer_id = int(input("Enter your customer ID: "))
            
            # Place a new order
            place_order(curs, customer_id)
            
            # Commit changes and close the connection
            connection.commit()
            curs.close()
            connection.close()
        except Exception as e:
            print("Error:", e)

Error: 2005 (HY000): Unknown MySQL server host 'root' (11001)
Failed to connect to the database.

In [ ]:
#3.virtual environment ,run in command line argument
import subprocess
import sys
import os

def create__virtual_env(env_name):
    try:
        subprocess.run([sys.executable, '-m', 'venv', env_name])
        print(f"Virtual environment '{env_name}' created successfully.")
    except subprocess.CalledProcessError as e:
        print(f"Error: Failed to create the virtual environment. {e}")

def activate__virtual_env(env_name):
    try:
        activate_script = os.path.join(env_name, 'Scripts' if os.name == 'nt' else 'bin', 'activate')
        subprocess.run([activate_script], shell=True)
        print(f"Activated virtual environment '{env_name}'.")
    except FileNotFoundError:
        print(f"Error: Virtual environment '{env_name}' not found.")

def deactivate__virtual_env():
    try:
        subprocess.run(['deactivate'], shell=True)
        print("Deactivated the virtual environment.")
    except subprocess.CalledProcessError as e:
        print(f"Error: Failed to deactivate the virtual environment. {e}")

def install_package(env_name, package_name):
    try:
        subprocess.run([f'{env_name}/bin/pip', 'install', package_name])
        print(f"Installed '{package_name}' in '{env_name}'.")
    except subprocess.CalledProcessError as e:
        print(f"Error: Failed to install the package. {e}")

def upgrade_package(env_name, package_name):
    try:
        subprocess.run([f'{env_name}/bin/pip', 'install', '--upgrade', package_name])
        print(f"Upgraded '{package_name}' in '{env_name}'.")
    except subprocess.CalledProcessError as e:
        print(f"Error: Failed to upgrade the package. {e}")

def uninstall_package(env_name, package_name):
    try:
        subprocess.run([f'{env_name}/bin/pip', 'uninstall', '-y', package_name])
        print(f"Uninstalled '{package_name}' from '{env_name}'.")
    except subprocess.CalledProcessError as e:
        print(f"Error: Failed to uninstall the package. {e}")

def list_installed_packages(env_name):
    try:
        result = subprocess.run([f'{env_name}/bin/pip', 'list'], capture_output=True, text=True)
        print(f"Installed packages in '{env_name}':\n{result.stdout}")
    except subprocess.CalledProcessError as e:
        print(f"Error: Failed to list installed packages. {e}")


env_name = "_virtual_env"
package_name = "numpy"

create__virtual_env(env_name)
activate__virtual_env(env_name)
install_package(env_name, package_name)
list_installed_packages(env_name)
upgrade_package(env_name, package_name)
list_installed_packages(env_name)
uninstall_package(env_name, package_name)
list_installed_packages(env_name)
deactivate_virtual_env()

In [ ]:
#3.module dependency run in command line argument
import subprocess
def install_dependencies():
    try:
        subprocess.call(["pip","install","-r","requirements.txt"])
        print("dependancies installed")
    except Exception as e:
        print(f"error in installing dependencies:{e}")
install_dependencies()