# 1. Manipulate using a list.

i)To add new elements to the end of the list,ii)To reverse elements in the list,iii)To display the same list of 
elements multiple times,iv)To concatenate two list,v)To sort the elements in the list in ascending order.

In [1]:
#i)to add new elements to end of list
list=[1,24,23,'Veena','Krishnan',1968]
list

[1, 24, 23, 'Veena', 'Krishnan', 1968]

In [2]:
list.append(56) #add element using append
list

[1, 24, 23, 'Veena', 'Krishnan', 1968, 56]

In [3]:
list.extend([5,6]) #add list using extend 
list

[1, 24, 23, 'Veena', 'Krishnan', 1968, 56, 5, 6]

In [4]:
list.append([7,8])#add list using append
list

[1, 24, 23, 'Veena', 'Krishnan', 1968, 56, 5, 6, [7, 8]]

In [5]:
#ii)to reverse elements in list
list.reverse()
list

[[7, 8], 6, 5, 56, 1968, 'Krishnan', 'Veena', 23, 24, 1]

In [6]:
#iii)To display the same list of elements multiple times
list1=[1,2,3]*2
list1

[1, 2, 3, 1, 2, 3]

In [7]:
#iv)To concatenate two list
list3=list+list1
list3

[[7, 8], 6, 5, 56, 1968, 'Krishnan', 'Veena', 23, 24, 1, 1, 2, 3, 1, 2, 3]

In [11]:
#V)To sort the elements in the list in ascending order.
l1=[56,1,24,23] #sort numbers in list
l1.sort()
l1

[1, 23, 24, 56]

In [12]:
l2=['Veena','Krishnan','Devi'] #sort string in list
l2.sort()
l2

['Devi', 'Krishnan', 'Veena']

# 2. Write a Python program to do in the tuples.
i)Manipulate using tuples,ii)To add new elements to the end of the tuples,iii)To reverse elements in the list,
iv)To display the elements of the same tuple multiple times,v)To concatenate two tuples,vi)
To sort the elements in the list in ascending order.

In [13]:
#i)Manipulate using tuples
tuple=(1,24,23)
tuple

(1, 24, 23)

In [15]:
#ii)To add new elements to the end of the tuples
tuple1=tuple+(30,40)
tuple1

(1, 24, 23, 30, 40)

In [21]:
#iii)To reverse elements in the list
tuple2=(24,85,6,1,21)
print('before reverse',tuple2)
print('after reverse',tuple2[::-1])

before reverse (24, 85, 6, 1, 21)
after reverse (21, 1, 6, 85, 24)

In [23]:
#iv)To display the elements of the same tuple multiple times
t=(1,4,5,'Veen')
tu=t*3
tu

(1, 4, 5, 'Veen', 1, 4, 5, 'Veen', 1, 4, 5, 'Veen')

In [24]:
#v)To concatenate two tuples
new_tuple=tuple1+tuple2
new_tuple

(1, 24, 23, 30, 40, 24, 85, 6, 1, 21)

In [26]:
#vi)To sort the elements in the tuple in ascending order.
sor=sorted(new_tuple)#using sorted
print(sor)

[1, 1, 6, 21, 23, 24, 24, 30, 40, 85]

# 3. Write a python program to implement the following using list.

i)Create a list with integers (minimum 10 numbers),ii)How to display the last number in the list,iii)Command for displaying
the values from the list [0:4],iv)Command for displaying the values from the list [2:],v)Command for displaying
the values from the list [:6]

In [27]:
#i)Create a list with integers (minimum 10 numbers)
list=[24,98,21,1,18,40,10,80,63,94]
list

[24, 98, 21, 1, 18, 40, 10, 80, 63, 94]

In [28]:
#ii)How to display the last number in the list
print(list[-1])

94

In [29]:
#iii)Command for displaying the values from the list [0:4]
print(list[0:4])

[24, 98, 21, 1]

In [30]:
#iv)Command for displaying the values from the list [2:]
print(list[2:])

[21, 1, 18, 40, 10, 80, 63, 94]

In [31]:
#v)Command for displaying the values from the list [:6]
print(list[:6])

[24, 98, 21, 1, 18, 40]

# 4. Write a Python program: tuple1 = (10,50,20,40,30)

i)To display the elements 10 and 50 from tuple1,ii)To display the length of a tuple1,iii)To find the minimum element 
from tuple1,iv)To add all elements in the tuple1,V)To display the same tuple1 multiple times

In [35]:
#i)To display the elements 10 and 50 from tuple1,I have created tuple1 already for previous exercise so used tup now
tup=(10,50,20,40,30)
print(tup[0],tup[1])

10 50

In [36]:
#ii)To display the length of a tup
len(tup)

5

In [37]:
#iii)To find the minimum element from tup
min(tup)

10

In [38]:
#iv)To add all elements in the tup
print(sum(tup))

150

In [39]:
#V)To display the same tuple1 multiple times
m=tup*3
m

(10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5.Write a python program
i)To calculate the length of the string,ii)To reverse words in a string,iii)To display same string multiple times,
iv)To concatenate the strings,v)Str1="South India" using slicing display only "India"

In [40]:
#i)To calculate the length of the string
str=input("Enter String")
print(len(str))

Enter StringHello Veena
11

In [42]:
#ii)To reverse words in a string
str=input("Enter String:")
print(str[::-1])

Enter String:HelloWorld
dlroWolleH

In [43]:
#iii)To display same string multiple times
str="Good Morning"
s=str*3
s

'Good MorningGood MorningGood Morning'

In [44]:
#iv)To concatenate the strings
s1="Welcome"
s2="to Python"
s3=s1+" "+s2
print(s3)

Welcome to Python

In [48]:
#v)Str1="South India" using slicing display only "India"
str1="South India"
print(str1[6::])

India

# 7.Python program to insert a number at any position in list

In [51]:
list_no=[24,7,9,30]
print(list_no)
list_no.insert(0,1)
print("updated_list:",list_no)

[24, 7, 9, 30]
updated_list: [1, 24, 7, 9, 30]

# 8.Python program to delete an element from a list by index

In [11]:
l_no=[95,76,21,80,11,24]
print(l_no)
l_no.pop(0)   #using pop
print("updated_list:",l_no)

[95, 76, 21, 80, 11, 24]
updated_list: [76, 21, 80, 11, 24]

In [14]:
l_no=[95,76,21,80,11,24]
print(l_no)
del l_no[4]   #using del
print("updated_list:",l_no)

[95, 76, 21, 80, 11, 24]
updated_list: [95, 76, 21, 80, 24]

# 6.Perform the following:

i)Creating the Dictionary,ii)Accessing values and keys in the Dictionary,iii)Updating the dictionary using a function,
iv)Clear and delete the dictionary values.

In [1]:
#i)Creating the Dictionary
dict={'name':'Veena','l_name':'Krishnan','age':20}
dict

{'name': 'Veena', 'l_name': 'Krishnan', 'age': 20}

In [2]:
#ii)Accessing values and keys in the Dictionary
dict.values()

dict_values(['Veena', 'Krishnan', 20])

In [4]:
dict.items()

dict_items([('name', 'Veena'), ('l_name', 'Krishnan'), ('age', 20)])

In [5]:
dict.keys()

dict_keys(['name', 'l_name', 'age'])

In [7]:
#iii)Updating the dictionary using a function
dict.update({'age':21})
dict

{'name': 'Veena', 'l_name': 'Krishnan', 'age': 21}

In [8]:
#iv)Clear and delete the dictionary values
dict.pop('l_name')

'Krishnan'

In [9]:
del dict['age']
print(dict)

{'name': 'Veena'}

In [10]:
dict.clear()
print(dict)

{}

# 10.Write a python program to find sum of all items in a tuple

In [17]:
mytuple=(2,4,6,8,10,12)
tupsum=sum(mytuple) #using sum
tupsum

42

In [18]:
mytuple=(2,4,6,8,10,12)
sum=0
for i in mytuple:    #using loop
    sum+= i
print(sum)

42

# 9.Write a program to display a number from 1 to 100

In [23]:
n = 0
while n <= 100:
    print(n, end=' ')
    n = n+5

0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100

# 17.Python programs to print pattern below

In [24]:
n=int(input("Enter no of rows:"))
for i in range(0, n):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

Enter no of rows:5
*
* *
* * *
* * * *
* * * * *

In [25]:
n=int(input("Enter no of rows:"))
m=(2 * n) - 2
for i in range(0, n):
    for j in range(0, m):
        print(end=" ")
    m=m - 1
    for j in range(0, i + 1):
        print("* ", end=' ')
    print(" ")

Enter no of rows:7
            *
           *  *
          *  *  *
         *  *  *  *
        *  *  *  *  *
       *  *  *  *  *  *
      *  *  *  *  *  *  *

In [28]:
n=int(input("Enter number:"))
for i in range(n+1):
    for j in range(n-i):
        print(' ', end='')

    a = 1
    for j in range(1, i+1):
        print(a, ' ', sep='', end='')
        a = a * (i - j) // j
    print()

Enter number:7

      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1
 1 5 10 10 5 1
1 6 15 20 15 6 1

In [29]:
string=input("Enter string:")
x = ""
for i in string:
    x += i
    print(x)

Enter string:Python
P
Py
Pyt
Pyth
Pytho
Python

# CONTROL STRUCTURES:

In [31]:
#5.Write a program to display the number of odd & evennumbers that fall between 12 and 37

start=12
end=37    #numbers between 12 and 17                                    
odd_count=0
even_count=0
for x in range(start, end + 1):
        if x % 2==0:
            even_count+=1
        else:
            odd_count+=1
print("Even numbers count:",even_count)
print("Odd numbers count:",odd_count)

Even numbers count: 13
Odd numbers count: 13

In [33]:
#4 Write a python program that accepts string and print no of uppercase and lowercase letters
string=input("Enter string:")
l_count=0  #lowercase count
u_count=0  #uppercase count
for i in string:
      if(i.islower()):
            l_count=l_count+1
      elif(i.isupper()):
            u_count=u_count+1
print("no of lowercase letters:",l_count)
print("no of uppercase letters:",u_count)

Enter string:Harry James Potter
no of lowercase letters: 13
no of uppercase letters: 3

In [35]:
#7 Write a python program to display sum of first 10 prime number
n=10
sum = 0
for num in range(2,n+1):
    i = 2
    for i in range(2, num):
        if (int(num % i) == 0):
            i = num
            break;
    if i is not num:
        sum += num

print("Sum of 10 prime numbers:",sum)

Sum of 10 prime numbers: 15